.main__character {
  background: #0b0e1f;
  color: white;
  padding: 1.2rem;
  border-radius: 24px;
  animation: aparecer 0.8s cubic-bezier(0.075, 0.82, 0.165, 1) forwards;
  position: relative;
  box-shadow: 0 0 25px #0b0e1fb1;
}

.main__character:hover {
  box-shadow: 0 0 25px #fff;
  cursor: pointer;
  transform: scale(1.2);
}

.main__character__figure {
  border-radius: 16px;
}

.main__character__img {
  border-radius: inherit;
  width: 100%;
}

.main__character__name {
  font-size: 1.2rem;
  font-weight: bold;
  padding: 1rem 0;
}

.main__character__id {
  color: gold;
}

.main__character__description {
  display: flex;
  flex-flow: column nowrap;
  gap: 1rem;
  font-size: 1.2rem;
}

.bold {
  font-weight: bolder;
}

.status {
  display: inline-block;
  width: 15px;
  height: 15px;
  border-radius: 50%;
  animation: status 1s ease infinite;
}

.green {
  background-color: greenyellow;
}

.red {
  background-color: red;
}

.main__character__delete {
  border: 0;
  outline: 0;
  padding: 0.2rem 0.5rem;
  border-radius: 0.5rem;
  background-color: rgb(232, 61, 61);
  font-family: inherit;
  font-weight: bold;
  font-size: 1rem;
  position: absolute;
  right: 0;
  bottom: 0;
  color: white;
}

.main__character__delete:hover {
  box-shadow: 0 0 25px rgb(255, 0, 0);
  background-color: rgb(249, 75, 75);
  cursor: pointer;
}
.main__character__delete:active {
  transform: scale(0.9);
}

@keyframes status {
  0% {
    transform: scale(0);
    opacity: 100;
  }
  100% {
    transform: scale(1);
    opacity: 0;
  }
}

@keyframes aparecer {
  from {
    transform: rotate(180deg) scale(0);
  }
  to {
    transform: rotate(0) scale(1);
  }
}
